.navbar-mision {
  background-color: transparent; /* Cambia el color si lo deseas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Opcional: sombra sutil */
}

.navbar-mision .nav-link {
  color: black !important; /* Color de los enlaces */
}